# Java class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.ear

# Virtual machine crash logs
hs_err_pid*

# IDEs and tools
## Eclipse
.classpath
.project
.settings/
bin/

## IntelliJ IDEA
.idea/
*.iml
*.iws
out/
.env

## NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Maven
target/

# Gradle
.gradle/

# VS Code
.vscode/

# Mac OS
.DS_Store

# Windows
Thumbs.db